<h1>{{list?.title}}</h1>
<div>
  <md-card>
    Noch in den Einkaufskorb
    <md-list>
      <md-list-item *ngFor="let item of list?.forBasket; let i = index">
          <span class="grow" (click)="store.swapProductBetweenLists(item, i, 'forBasket', 'inBasket')">
            {{ item.amount }}
            {{ item.title }}
            <md-icon>cart</md-icon>
          </span>
        <button color="danger" md-button (click)="store.removeProductFromList(i, 'forBasket')">
          <md-icon>delete</md-icon>
        </button>
      </md-list-item>
    </md-list>
  </md-card>

  <md-card style="margin-top:1rem;">
    Schon dabei
    <md-list>
      <md-list-item *ngFor="let item of list?.inBasket; let i = index">
          <span class="grow" (click)="store.swapProductBetweenLists(item, i, 'inBasket', 'forBasket')">
            {{ item.amount }}
            {{ item.title }}
            <md-icon>cart</md-icon>
          </span>
        <button color="danger" md-button (click)="store.removeProductFromList(i, 'inBasket')">
          <md-icon>delete</md-icon>
        </button>
      </md-list-item>
    </md-list>
  </md-card>

  <a [routerLink]="['add']" md-fab color="primary">
    <md-icon>add</md-icon>
  </a>
  <button (click)="store.clearSelectedList()" md-fab>
    <md-icon name="cart">clear</md-icon>
  </button>
</div>
