:host, md-sidenav-container{
  display: block;
  height: calc(100% - 64px);
}

.add-fab{
  position: absolute;
  top: 1rem;
  right: 2rem;
}

.mat-fab {
  position: absolute;
  bottom: 1rem;
  right: 2rem;
}

md-sidenav {
  min-width: 320px;
}
