<md-card>

  <div *ngIf="selectedProduct">
    <form (submit)="selectProductWithAmount(amount.value)" [formGroup]="amountForm">
      <md-input-container>
        <input
          formControlName="amount"
          mdInput
          type="text"
          #amount
          placeholder="Anzahl"
        >
      </md-input-container>
      <button md-raised-button>{{selectedProduct.title}}</button>
    </form>
  </div>

  <form [formGroup]="filterForm" (submit)="addProduct(filterForm.value.filter)">
    <md-input-container>
      <input
        mdInput
        formControlName="filter"
        type="search"
        #filterName
        placeholder="Produkt">
    </md-input-container>
  </form>

  <md-list>
    <md-list-item *ngFor="let product of (products$ | async)">
     <span (click)="selectProduct(product)">
      {{product.title}}
     </span>
    </md-list-item>
  </md-list>

  <button md-raised-button
          (click)="addProduct(filterName.value)"
          type="button">{{filterName.value}}
  </button>
</md-card>
