@import '~@angular/material/core/theming/prebuilt/deeppurple-amber.css';

.flex {
  display: flex;
  flex-direction: row;
}

.flex.is-row {
  flex-direction: row;
}

.flex.is-column{
  flex-direction: column;
}

.flex-wrap {
  flex-wrap: wrap;
}

.grow {
  flex-grow: 1;
}

.mt-1 {
  margin-top: 1rem;
}

.m-1 {
  margin: 0.5rem;
}
.p-1 {
  padding: 0.5rem;
}

.w100 {
  width: 100%;
}
html, body, kb-root {
  height: 100%;
}
