<md-card>
  <md-list>
    <md-list-item *ngIf="loading">
      Lade verfügabre Einkaufslisten...
    </md-list-item>
    <md-list-item (click)="selectList(list)" *ngFor="let list of (store.state$ | async)?.lists;">
      <md-icon>list</md-icon>
      <p class="grow">{{ list.title }} </p>
      <md-icon (click)="store.removeList(list)">delete forever</md-icon>
    </md-list-item>
  </md-list>
</md-card>

<md-card>
  <form [formGroup]="addListForm" (submit)="store.addList(addListForm.value.listName)">
    <md-input-container class="w100">
      <input class="w100" md-input formControlName="listName" type="text" placeholder="Neue Liste">
    </md-input-container>
    <button md-raised-button type="submit" [disabled]="!addListForm.valid">
      <md-icon>add</md-icon>
      Neue Liste anlegen
    </button>
  </form>
</md-card>
