<!--
  Generated template for the RecipesCreateRecipe page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle icon-only>
      <ion-icon name='menu'></ion-icon>
    </button>
    <ion-title>
      {{title}}
    </ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <ion-card>
    <form [formGroup]="recipeForm" (submit)="createOrUpdateRecipe(recipeForm.value)">
      <ion-item>
        <ion-label floating>Rezept Name</ion-label>
        <ion-input type="text" formControlName="title"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>Rezept Beschreibung</ion-label>
        <ion-textarea autosize formControlName="description"></ion-textarea>
      </ion-item>

      <div formArrayName="products">
        <div *ngFor="let c of recipeForm.controls.products.controls; let i = index">
          <div [formGroupName]="i">
            <ion-item>
              <ion-label floating>Produkt</ion-label>
              <ion-input type="text" formControlName="title"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label floating>Anzahl</ion-label>
              <ion-input type="text" formControlName="amount"></ion-input>
            </ion-item>
          </div>
          <ion-item>
            <button (click)="removeItem('products', i)" type="button" ion-button>Produkt entfernen</button>
          </ion-item>
        </div>
      </div>

      <ion-item>
        <button (click)="addProduct()" type="button" ion-button>Produkt hinzufügen</button>
      </ion-item>

      <div formArrayName="categories">
        <div *ngFor="let c of recipeForm.controls.categories.controls; let i = index">
          <div [formGroupName]="i">
            <ion-item>
              <ion-label floating>Kategory</ion-label>
              <ion-input type="text" formControlName="category"></ion-input>
            </ion-item>
          </div>
          <ion-item>
            <button (click)="removeItem('categories', i)" type="button" ion-button>Kategorie entfernen</button>
          </ion-item>
        </div>
      </div>

      <ion-item>
        <button (click)="addCategory()" type="button" ion-button>Kategorie hinzufügen</button>
      </ion-item>

      <ion-item>
        <button type="submit" ion-button [disabled]="!recipeForm.valid" block>{{submitButtonLabel}}</button>
      </ion-item>
    </form>
  </ion-card>
</ion-content>
