<div *ngIf="list.name">
    <div class="row">
        <div class="col-xs-12"></div>
    </div>
    <div class="row">
        <div class="col-xs">
            <h3>{{list.name}} <button class="btn btn-outline-primary pull-right" (click)="toggleProducts()"><i class="fa fa-list"></i></button></h3>
            <h4 class="m-t-3">noch in den Korb</h4>
            <div class="list-group">
                <div (click)="addToBasket(product)" *ngFor="let product of list.products">
                    <div class="list-group-item" *ngIf="!product.inBasket" >
                        {{product.name}}
                        <span class="tag tag-default tag-pill pull-xs-right">{{product.amount}}</span>
                    </div>
                </div>
            </div>
            <h4 class="m-t-3">schon dabei</h4>
            <div class="list-group">
                <div (click)="addToBasket(product)" *ngFor="let product of list.products">
                    <div class="list-group-item" *ngIf="product.inBasket" >
                        {{product.name}}
                        <span (click)="removeItem(product)" class="tag tag-default tag-pill pull-xs-right"><i class="fa fa-trash"></i></span>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="showProducts" class="col-lg-8">
            <app-products [list]="list"></app-products>
        </div>
    </div>
    <div class="row m-t-3">
        <div class="col-xs-12">
            <button (click)="clearList(list.id)" type="button" class="btn btn-outline-primary">Liste leeren</button>
            <button (click)="removeList(list.id)" type="button" class="pull-right btn btn-outline-danger">Liste löschen</button>
        </div>
    </div>
</div>
