<button md-fab (click)="deleteRecipe()">löschen</button>
<form [formGroup]="recipeForm" (submit)="createOrUpdateRecipe(recipeForm.value)">

    <md-card>
        <md-input-container>
            <input mdInput type="text" placeholder="Rezept Name" formControlName="title">
        </md-input-container>
        <md-select placeholder="Kategorie" formControlName="categories">
            <md-option
                    value="{{category}}"
                    *ngFor="let category of categories">{{category}}
            </md-option>
        </md-select>
        <div>
            <md-input-container>
                <textarea mdTextareaAutosize placeholder="Rezept Beschreibung" mdInput formControlName="description"></textarea>
            </md-input-container>
        </div>

    </md-card>

    <md-card class="mt-1">
        <div formArrayName="products">
            <div *ngFor="let c of recipeForm.controls.products.controls; let i = index">
                <div [formGroupName]="i">
                    <md-input-container>
                    <input type="text" mdInput placeholder="Anzahl" formControlName="amount">
                    </md-input-container>
                    <md-input-container>
                    <input mdInput type="text" placeholder="Produkt" formControlName="title">
                    </md-input-container>
                    <button (click)="removeItem('products', i)" type="button" md-button>Produkt entfernen</button>
                </div>
            </div>
            <button (click)="addProduct('products', i)" type="button" md-button>Produkt hinzufügen</button>
        </div>

        <button type="submit" md-button [disabled]="!recipeForm.valid" block>{{submitButtonLabel}}</button>
    </md-card>
</form>