
  <div class="row">
    <div class="col-xs-12">
      <a (click)="toSelection()"> zurück zur Listenübersicht</a>
      <h3>{{state.selectedList.name}}</h3>
      <h4 class="m-t-3">noch in den Korb</h4>
      <div class="list-group">
        <div *ngIf="loading" class="list-group-item list-group-item-info">
          Produkte werden geladen
        </div>
        <div (click)="addToBasket(product)" *ngFor="let product of state.selectedList.products; trackBy: product?.id">
          <div class="list-group-item" *ngIf="!product.inBasket" >
            {{product.name}}
            <span class="tag tag-default tag-pill pull-xs-right">{{product.amount}}</span>
          </div>
        </div>
      </div>
      <h4 class="m-t-3">schon dabei</h4>
      <div class="list-group">
        <div (click)="addToBasket(product)" *ngFor="let product of state.selectedList.products">
          <div class="list-group-item" *ngIf="product.inBasket" >
            {{product.name}}
            <span (click)="removeItem(product)" class="pull-right tag tag-default tag-pill pull-xs-right"><i class="fa fa-trash"></i> löschen</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row m-t-3">
    <div class="col-xs-12">
      <button (click)="clearList()" type="button" class="btn btn-primary">Liste leeren</button>
      <button (click)="removeList()" type="button" class="pull-right btn btn-danger">Liste löschen</button>
    </div>
  </div>


<button (click)="addProductsToList()" class="btn bottom-button"> dazu </button>
