
  <div class="row">
    <div class="col-xs">
      <h3>{{state.selectedList.name}}</h3>
      <h4 class="m-t-3">noch in den Korb</h4>
      <div class="list-group">
        <div (click)="addToBasket(product)" *ngFor="let product of state.selectedList.products">
          <div class="list-group-item" *ngIf="!product.inBasket" >
            {{product.name}}
            <span class="tag tag-default tag-pill pull-xs-right">{{product.amount}}</span>
          </div>
        </div>
      </div>
      <h4 class="m-t-3">schon dabei</h4>
      <div class="list-group">
        <div (click)="addToBasket(product)" *ngFor="let product of state.selectedList.products">
          <div class="list-group-item" *ngIf="product.inBasket" >
            {{product.name}}
            <span (click)="removeItem(product)" class="tag tag-default tag-pill pull-xs-right"><i class="fa fa-trash"></i></span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row m-t-3">
    <div class="col-xs-12">
      <button (click)="clearList()" type="button" class="btn btn-outline-primary">Liste leeren</button>
      <button (click)="removeList()" type="button" class="pull-right btn btn-outline-danger">Liste löschen</button>
    </div>
  </div>


<button (click)="addProductsToList()" class="btn"> dazu </button>
