:host {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
}

.add-fab {
  position: absolute;
  top: 1rem;
  right: 2rem;
}

.clear-fab {
  float: right;
  margin-right: 2rem;
  margin-bottom: 4rem;
}

md-sidenav {
  min-width: 320px;
}

.list-content {
  padding: 1rem;
  md-card {
    margin-bottom: 3rem;
    min-width: 50%;
  }
}
