<div class="list-content">
  <md-card>
    <h1>{{list?.title}}</h1>
  </md-card>

  <md-card>
    <md-card-title>
      Noch in den Einkaufskorb
    </md-card-title>
    <kb-list-products
      [products]="list?.forBasket"
      (onSelect)="addToInBasket($event)"
    ></kb-list-products>
  </md-card>

  <md-card>
    <md-card-title>
      Schon dabei
    </md-card-title>
    <kb-list-products
      [products]="list?.inBasket"
      (onSelect)="addToForBasket($event)"
    ></kb-list-products>
  </md-card>
</div>

<button class="clear-fab" (click)="clearBasket()" md-fab>
  <md-icon>clear</md-icon>
</button>

<md-toolbar fxLayout="row" fxLayoutAlign="center">
  <a [routerLink]="['add']" type="button" md-button>
    <md-icon>add</md-icon>
  </a>
</md-toolbar>


