<div>
  <md-card class="disabled" [ngClass]="{'disabled':loading}">
    <md-list>
      <h3 md-subheader>Einkaufslisten:</h3>
      <md-progress-spinner
        *ngIf="loading; else showList"
        value="30"
        mode="indeterminate"
      ></md-progress-spinner>
      <ng-template #showList>
        <div *ngFor="let list of (listStore.state$ | async)?.lists;">
          <md-list-item (click)="selectList(list)">
            <md-icon>list</md-icon>
            <p class="grow">{{ list.title }} </p>
            <md-icon (click)="deleteList(list)">delete forever</md-icon>
          </md-list-item>
          <md-divider></md-divider>
        </div>
      </ng-template>
    </md-list>
  </md-card>

  <md-card>
    <form [formGroup]="addListForm" (submit)="addList(addListForm.value.listName)">
      <md-input-container class="w100">
        <input class="w100" mdInput formControlName="listName" placeholder="Neue Liste">
      </md-input-container>
      <button md-raised-button type="submit" [disabled]="!addListForm.valid">
        <md-icon>add</md-icon>
        Neue Liste anlegen
      </button>
    </form>
  </md-card>

</div>
