<button class="delete" md-fab (click)="deleteRecipe()">
  <md-icon name="cart">clear</md-icon>
</button>

<form #recipeForm="ngForm" (submit)="createOrUpdateRecipe(recipeForm.value)">

  <md-card>
    <md-input-container>
      <input mdInput type="text" required placeholder="Rezept Name" [ngModel]="recipe.title" name="title">
    </md-input-container>

    <div>
      <md-input-container>
        <textarea class="description" required placeholder="Rezept Beschreibung" mdInput [ngModel]="recipe.description" name="description"></textarea>
      </md-input-container>
    </div>

    <md-card-actions>
      <button type="submit" md-button block>{{submitButtonLabel}}</button>
    </md-card-actions>
  </md-card>

  <md-card class="mt-1">
    <md-card-content>
      <md-list>
        <md-list-item *ngFor="let product of recipe.products; let i = index">
          {{product.title}} {{product.amount}} <md-icon (click)="deleteProduct(i)">delete</md-icon>
        </md-list-item>
      </md-list>
      <a class="delete" md-fab [routerLink]="['products']">
        <md-icon name="cart">add</md-icon>
      </a>
    </md-card-content>


  </md-card>
</form>
