<h2>Einkaufsliste</h2>

<div class="list-group">
  <span *ngIf="loading" class="list-group-item list-group-item-info">
    Listen werden geladen
  </span>
  <a (click)="selectList(list)" *ngFor="let list of state.lists" class="list-group-item">
    <p class="list-group-item-text">{{list.name}}</p>
  </a>
</div>

<form [formGroup]="addListForm" (submit)="addList(addListForm.value.listName)">
  <div class="form-group">
    <div class="input-group">
      <input class="form-control"
             [formControl]="addListForm.controls['listName']"
             placeholder="neue Liste"/>
      <span class="input-group-btn">
                            <button class="btn" type="submit">&nbsp;<i class="fa fa-plus"></i></button>
                        </span>
    </div>
  </div>
</form>
