<md-card>
  <form [formGroup]="filterForm">
    <md-input-container class="w100">
      <input mdInput type="text" formControlName="text" placeholder="Suche">
    </md-input-container>
    <!--<div>-->
      <!--<md-checkbox *ngFor="let categorie of state.categories"-->
        <!--class="example-margin"-->
        <!--[checked]="checked"-->
        <!--[align]="align">-->
      <!--{{categorie}}-->
      <!--</md-checkbox>-->
    <!--</div>-->
    <div>

      <button md-raised-button (click)="filterForm.reset()" type="button">
        Filter zurücksetzen
      </button>
    </div>
  </form>
</md-card>

<md-card class="mt-1">
  <md-list>
    <div *ngFor="let recipe of state.filteredRecipes">
      <md-list-item (click)="selectRecipe(recipe)">
        {{ recipe.title }}
        <md-icon name="recipe-box" item-left></md-icon>
      </md-list-item>
    </div>
  </md-list>
</md-card>

<button class="add-fab" (click)="addRecipe()" md-fab>
  <md-icon>add</md-icon>
</button>
